* {
	box-sizing: border-box;
}


body {
    font-family: 'Merriweather', serif;
}

label {
    color: rgb(45, 57, 69);
}

/*****************************************
Header Content
******************************************/
.top {
    text-transform: uppercase;
    background-color:rgb(45, 57, 69);
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin-top: 0;
}
header {
    width: 95%;
    margin: auto;
}

.hr1 {
    border: 2px solid rgb(45, 57, 69);
    /* width: 290px; */
    margin-bottom: 4px;
}

.hr2 {
    border: 1px solid rgb(45, 57, 69);
    /* width: 290px; */
    margin-top: 4px;
}


header h3 {
    font-weight: 800;
    text-align: center;

}

header p {
    color: rgb(190, 194, 197);
    width: 86%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    padding-bottom: 15px;
    
}

/*********************************
Form - Contact Info Section
**********************************/

fieldset {
    width: 100%;
    border: 0;
}

legend {
    font-size: 1.3em;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  border: none;
  font-size: 16px;
  height: 50px;
  margin-top: 8px;
  padding: 15px;
  width: 100%;
  background-color: rgb(239, 240, 241);
  color: #8a97a0;
  margin-bottom: 30px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
    text-align: right;
    font-style: italic;
    color: rgb(179, 184, 187);
    padding-right: 5px;

}

textarea::placeholder {
    font-style: italic;
    color: rgb(179, 184, 187);
}

/******************************
Form - Newsletter Section
******************************/
.form-bottom {
    display: flex;
    flex-direction: column;
    margin: auto;
}


input[type="radio"],
input[type="checkbox"] {
  margin: 8px;
  /* display: inline-block; */

}
.label-margin {
    margin-top: 20px;
}

textarea {
    height: 100px;
    margin-top: 12px;
}

button {
    /* display: block;
    margin: auto; */
    align-self: center;
    width: 290px;
    height: 60px;
    background-color: #30c7b3;
    color: #fff;
    font-weight: 900;
    border: 0;
} 

.copy {
    text-align: center;
    color: #adadad;
    font-size: 12px;
}

/*******************************
Media width breakpoints  
********************************/

@media (min-width: 1024px) {

    header {
        width: 52%;
        margin: auto;
    }

    form {
        width: 52%;
        margin: auto;
    }

    #form-top label {
        width: 23%;
        align-self: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
        width: 70%;
        align-self: center;
        margin-bottom: 0;
    }

    .flex-pair {
       display: flex; 
       flex-direction: row;
       justify-content: space-between;
       align-content: center;
       margin-bottom: 30px;
    }

    textarea {
        width: 100%;
        margin-bottom: 10px;
        /* align-self: flex-start; */
    }

    button {
        width: 100%;
        margin-top: 10px;
    }

}