* {
	box-sizing: border-box;
}


body {
    /* margin:0; */
    font-family: 'Merriweather', serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
