* {
	box-sizing: border-box;
}


body {
    font-family: 'Merriweather', serif;
}
/*****************************************
Header Content
******************************************/

header h2 {
    text-transform: uppercase;
    background-color:#324461;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin-top: 0;
}

header h3 {
    font-weight: 800;
    text-align: center;

}

/*********************************
Main form styling
**********************************/

.form-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin-top: 8px;
  padding: 15px;
  width: 100%;
  background-color: #ececec;
  color: #8a97a0;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 8px;
  display: inline-block;

}

button {
    /* text-align: center; */
    display: block;
    margin: auto;
    width: 90%;
    height: 50px;
    background-color: #30c7b3;
    color: #fff;
    font-weight: 900;
    border: 0;
} 